<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/global.css"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{APP.TITLE}}</title>
</head>
<body>
<?php session_start(); print_r($_SESSION);?>
{{APP.HEADER}}
<main class="container">
    <h1>{{APP.TITLE}}</h1>
    {{APP.CONTENT}}
</main>
{{APP.FOOTER}}
<script type="text/javascript" src="/public/js/global.js"></script>
</body>
</html>