<div class="login-container">
    <form class="register" action="register" method="POST">
        <div class="messages">
            <?php
                        if(isset($messages)){
                            foreach($messages as $message) {
                                echo $message;
                            }
                        }
                    ?>
        </div>
        <input name="email" type="text" placeholder="email@email.com">
        <input name="password" type="password" placeholder="password">
        <input name="password2" type="password" placeholder="Repeat Password">
        <input name="name" type="text" placeholder="name">
        <input name="surname" type="text" placeholder="surname">
        <button type="submit">Register</button>
    </form>
</div>
