.table-conteiner {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 31rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #3b99d9;
    color: #fafafa;
}

thead th, thead td {
    padding: 0.75rem 0.90rem;
    font-size: 1rem;
    line-height: 1.4;
    text-transform: uppercase;
}

tbody tr {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.4;
    border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: thick solid #3b99d9;
}

tbody td {
    padding: 1rem 0.5rem;
    text-align: center;
    vertical-align: middle;
}

tbody tr:hover {
    transition: 50ms;
    background: #8ac9ff;
    cursor: pointer;
}


