* {
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 728px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        max-width: none;
    }
}

.navigation-bar {
    background-color: #fff;
    position: relative;
    z-index: 1000;
    height: 60px;
}

.navigation-logo {
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    text-decoration: none;
}


.navigation-logo-text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    color: #69b9ff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.navigation-menu {
    position: relative;
    float: right;
}

.navigation-link {
    transition: all 300ms ease-in-out;
    color: #676770;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.navigation-link-current {
    color: #0082f3;
}

.navigation-link:hover {
    color: #2e9dff;
}

.navigation-hamburger-button {
    position: relative;
    float: right;
    padding: 15px;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .navigation-logo {
        padding-left: 10px;
    }

    .navigation-menu {
        position: absolute;
        overflow: hidden;
        display: none;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #3b99d9;
    }

    .navigation-link {
        color: hsla(0, 0%, 100%, 0.52);
        display: block;
    }

    .navigation-hamburger-button {
        display: block;
    }

    .navigation-link-current {
        color: #fff;
    }
}

.navigation-hamburger-icon {
    height: 25px;
}



.footer {
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer.center {
    border-top: 1px solid #dbdbdb;
    background-color: #383838;
    text-align: center;
}

.footer-text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #9e9e9e;
    font-size: 16px;
}